
 <h2 class="text-light text-center p-4 conatiner">{{caption}}</h2>
 <div class="  text-center p-5">
    <h3 class="text-light mb-5">Log In</h3>
    <form action="" (ngSubmit)="login()" class="outer container border rounded-4 p-2">
      <i class="fa-solid fa-user text-light"></i>
      <input
        type="text" [(ngModel)]="accNo"
        id="lgnAccNo" name="lgnAccNoName"
        class="m-4 w-50"
        [placeholder]="inputAccNo"
        required/><br />
      <i class="fa-solid fa-lock text-light"></i>
      <input
        type="password" 
        [(ngModel)]="pwd"
        [id]="lgnPwd" name="lgnPwdName"
        class="m-4 w-50"
        [placeholder]="inputPWD"
        required
      /><br />
      <button
        type="submit"
        id="login"
        
        class="btn btn-success rounded-pill"
      >
        Log In
      </button>
      <div class="text-center m-4">
        <h6 class="text-light">Don't Have an Account? </h6>
        <a href="" routerLink="register">Sign Up</a>
      </div>
    </form>
  </div>